.forum__page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: url(../../assets/images/background_light_theme.png) no-repeat;
  background-size: cover;
  background-color: #3276c5;

  &_title {
    display: flex;
    flex-direction: column;
    row-gap: 3.6rem;
    margin-bottom: 2rem;

    .button__tooltip {
      font-size: 3rem;
      align-items: center;
    }
  }

  &_container {
    display: flex;
    align-items: center;
    gap: 2rem;
    width: 100rem;
    height: 67.8rem;
    border-radius: 1.5rem;
    background: rgb(244, 244, 244, 0.8);
    box-shadow: 0 0.4rem 0.4rem 0 rgba(0, 0, 0, 0.25);

    hr {
      height: 80%;
      border: 0.1rem solid #1673e0;
      margin: 0;
    }


    .block__topics {
      height: 100%;
      width: 60%;
      margin-left: 5rem;
      padding-top: 5rem;

      &_wrapper {
        display: flex;
        height: 410px;
      }

      .topics {
        &_list {
          display: block;
          overflow-y: scroll;
          width: 100%;
          padding-top: 1rem;

          &__item {
            background: #C4DCFA;
            height: 6rem;
            border-radius: 15px;

            a {
              display: flex;
              align-items: center;
              height: 100%;
              width: 100%;
              color: #000;
              text-decoration: none;
            }

            span {
              font-size: 2.0rem;
            }

            p {
              font-size: 1.5rem;
            }
          }

          .link_badge {
            span {
              font-size: 1.0rem;
            }

            img {
              height: 3rem;
            }
          }

        }
      }
    }

    .block__topics_popular{
      display: flex;
    }
    .items-list__wrapper {
      width: 100%;
      height: 100%;
    }
  }
}

.dialog-form {
  &__container {
    width: 50rem;
  }

  &__title {
    font-size: 4rem;
  }

  &__textfield {
    label {
      font-size: 1.2rem;
    }

    input {
      font-size: 2rem;
    }
  }

  &__button {
    display: block;
    margin-left: auto;
  }
}
