CLIENT_PORT=3001
SERVER_PORT=3000
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres
POSTGRES_PORT=5432

VITE_BASE_YANDEX_API_URL=https://ya-praktikum.tech/api/v2
VITE_OAUTH_URL=https://oauth.yandex.ru/authorize
VITE_OAUTH_REDIRECT_URL_DEV=http://localhost:3000
VITE_OAUTH_REDIRECT_URL_PROD=https://localhost
