@use 'themes/mixins' as mx;

.play {
  &__page {
    position: relative;
    display: grid;
    grid-template-columns: minmax(17rem, 16.2rem) 1fr;
    grid-template-areas:
      'level canvas'
      'buttons canvas';
    justify-content: center;
    align-content: center;
    align-items: center;
    gap: 0 4rem;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    padding: 2rem;

    &::before {
      @include mx.themify('background-color', 'play-track');
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 0.8;
    }
  }

  &__level {
    grid-area: level;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    z-index: 1;

    .level__number {
      @include mx.themify('border-color', 'border-blue-color');
      @include mx.themify('background', 'play-level');
      width: 160px;
      height: 160px;
      font-size: 7rem;
      font-weight: 700;
      text-align: center;
      line-height: 8rem;
      border-radius: 50%;
      border: 1px solid;
      box-sizing: border-box;
      padding: 4rem;
    }

    span:last-child {
      font-size: 4rem;
    }
  }

  &__buttons {
    grid-area: buttons;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    z-index: 1;

    button {
      max-width: 232px;
      max-height: 70px;
      font-size: 1.4rem;
      border-radius: 1rem;
      text-transform: none;
    }
  }

  &__area {
    @include mx.themify('border-color', 'border-grey-color');
    @include mx.themify('background', 'play-bg');
    font-family: 'PressStart', regular;
    grid-area: canvas;
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    min-height: calc(100vh - 4rem);
    border: 1px solid;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    border-radius: 1.5rem;
    overflow: hidden;
    z-index: 1;

    &_hidden {
      position: absolute;
      visibility: hidden;
    }
  }

  &__loader {
    grid-area: canvas;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__background {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  &__track {
    position: relative;
    z-index: 1;
  }

  &__lines {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
  }

  &__borders {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
  }

  &__car {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
  }
  &__fuel {
    position: absolute;
    z-index: 2;
  }
  &__enemy {
    position: absolute;
    z-index: 2;
  }
  &__message {
    position: absolute;
    z-index: 2;
  }
}
