@use 'themes/mixins' as mx;

.endgame {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 3rem 0rem;
    gap: 1rem;

    &_result {
      @include mx.themify('color', 'result-color');
    }

    &-buttons {
        display: flex;
        gap: 1rem;
        width: 60%;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
  }
}
