@use 'themes/mixins' as mx;

.endgame {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  &__content {
    @include mx.themify('color', 'end-game-title');
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 3rem 0rem;
    gap: 1rem;

    &_result {
      @include mx.themify('color', 'result-color');
      font-weight: 500;
    }

    &-buttons {
      display: flex;
      gap: 1rem;
      width: 60%;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;

      &>button {
        @include mx.themify('color', 'end-game-button');
      }
    }
  }
}
