@use 'themes/mixins' as mx;

.leaderboard {
  &__page {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
  }

  &__page-wrapper {
    width: 100%;
    max-width: 1000px;
    height: 670px;
  }

  &__page-container {
    padding: 5rem;
    flex-direction: column;
    width: 100%;
    display: flex;
  }

  &__page-title {
    display: flex;
    justify-content: space-between;
    row-gap: 3.6rem;
    margin-bottom: 2rem;
  }
}

.table {
  &__header-column {
    @include mx.themify('background-color', 'leaderboard_top-bg');
    font-size: 2rem;
    text-align: center;
    padding: 2rem;

    &:nth-child(2) {
      text-align: left;
    }
  }

  &-container {
    @include mx.themify('background-color', 'table-bg');
    width: 100%;
    border-radius: 1.5rem;
  }

  &__block-container {
    height: 100%;
    max-height: 500px;
  }

  &__column-raiting {
    text-align: left;
    font-size: 2rem;
    width: 20%;

    &_flex {
      display: flex;
      align-items: center;
    }
  }

  &__column-login {
    padding-left: 0rem;
  }

  &__column-wrapper {
    margin: 1rem;
    font-size: 2rem;
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  &__column-scores {
    @include mx.themify('color', 'leaderboard_scores-text');
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
  }

  &__row:hover {
    @include mx.themify('background-color', 'leaderboard_item_hover');
  }
}

.icon__img {
  height: 60px;
}
