@use 'themes/mixins' as mx;

.main__page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: url(images/background_light_theme.png) no-repeat;
  background-size: cover;

  &-wrapper {
    width: 1220px;
    height: 670px;
  }

  &_box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4.6rem;

    hr {
      @include mx.themify('border-color', 'hr_blue-color');
      height: 80%;
      border: 0.1rem solid;
      margin: 0;
    }
  }

  .box {
    &__about {
      height: 80%;
      flex-basis: 42.4rem;
      font-size: 3.6rem;
      overflow-y: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 3rem;
      padding-top: 3rem;

      p {
        margin: 0;
      }
    }

    &__menu {
      flex-basis: 49.2rem;

      .menu {
        &__item {
          &:first-child {
            .menu__item-link {
              @include mx.themify('border-color', 'menu_item-border-color');
              border-bottom: 0.4rem solid;

              .link {
                &__button {
                  &-label {
                    span {
                      @include mx.themify('color', 'form_link-color');
                      font-size: 4rem;
                      font-weight: 700;
                    }
                  }
                }
              }
            }
          }

          &:last-child {
            .menu__item-link {
              border-bottom: none;
            }
          }

          &_link {
            @include mx.themify('color', 'main_link-color');
            @include mx.themify('border-color', 'form_link-color');
            display: flex;
            height: 12rem;
            width: 49.2rem;
            text-decoration: none;
            border-bottom: 0.2rem solid;

            .link {
              &__button {
                display: flex;
                align-items: center;
                gap: 1.5rem;

                &-label {
                  span {
                    @include mx.themify('color', 'main_link-color');
                    font-size: 3.6rem;
                  }
                }

                &-icon {
                  max-width: 7rem;
                  height: 5rem;
                }
              }
            }
          }
        }
      }
    }
  }
}


