@use 'themes/mixins' as mx;

.endgame__content {
    @include mx.themify('color', 'end-game-title');
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 3rem 0rem;
    gap: 1rem;

    &-buttons {
        display: flex;
        gap: 1rem;
        width: 60%;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        &>.MuiButton-root {
            @include mx.themify('color', 'end-game-button');
        }
    }

    &_result {
        @include mx.themify('color', 'result-color');
        font-weight: 500;
    }
}
