@use 'themes/mixins' as mx;

.main-layout {
  &,
  &__content {
    @include mx.themify('background-color', 'primary');

    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &__header {
    margin-bottom: 2rem;
  }
}
