@use 'themes/mixins' as mx;

.mainstage__component {
    @include mx.themify('background-color', 'paper-bg');
    display: flex;
    border-radius: 15px;
    width:100%;
    height: 100%;
    box-shadow: 0 0.4rem 0.4rem 0 rgba(0, 0, 0, 0.25);
}
