@use 'themes/mixins' as mx;

.signup {
  @include mx.themify('border-color', 'authform-border');
  @include mx.themify('background-color', 'authform-bg');
  min-width: 30%;
  max-height: 80rem;
  padding: 7rem 8rem 5rem 8rem;
  border: 1px solid;
  border-radius: 0.8rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 2rem;

  &__title {
    margin-bottom: 2rem;
  }

  .signup__link {
    @include mx.themify('color', 'authform-link');
  }

  &__inputs {
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;

    & > *:not(:last-child) {
      margin-bottom: 1rem;
    }
  }
}
