$primary-dark: #333;
$primary-dark_transparent: #262626ce;
$primary-light: #eee;
$primary-light_transparent: #f4f4f4f0;
$primary-white: #FFF;
$secondary-black: #000;
$primary-blue: #1976D2;
$secondary_blue: #1673E0;
$primary-lightblue: #B4D3F9;
$secondary-lightblue: #e5efff;
$secondary-lightblue_transparent:#e5efffbb;
$primary-lightgrey:  #d3d3d3;
$secondary-lightgrey: #B4B2B2;
$secondary-lightgrey_transparent: #00000040;
$primary-darkgrey: #858585;
$primary-red: #b22222;
$secondary-yellow: #f2ecb8;
$primary-green: #233D0D;
