$primary-dark: #333;
$primary-light: #eee;
$border-dark: #515151;
$border-light: #858585;
$bgcolor-light: #F4F4F4ce;
$bgcolor-dark: #262626;
$btncolor-dark: #1673e0;
$btncolor-light: #1673e0;
$hrcolor-light: #1673e0;
$hrcolor-dark: #1673e0;
$text-light: #000;
$text-dark: #fff;
$p-light: #3276c5;
$p-dark: #3276c5;
