$primary-dark: #333;
$primary-light: #eee;
$black: #000;
$white: #fff;
$cobaltblue: #1976D2;
$blue: #1673E0;
$bluesky: #e5efff;
$bluesky-transparent: #e5efffbb;
$lightblue: #B4D3F9;
$cloudgrey: #d3d3d3;
$darkgrey: #858585;
$lightgrey: #B4B2B2;
$grey-transparent: #00000040;
$black-transparent: #262626ce;
$white-transparent: #f4f4f4f0;
$red: #b22222;
