@use 'sass:color';
@use 'sass:map';
@use 'themes/colors' as clr;

$theme-dark: (
  primary: clr.$primary-dark,
  authform-border: clr.$border-dark,
  authform-bg: clr.$bgcolor-dark,
  authform-link: clr.$btncolor-dark,
  hr-border: clr.$hrcolor-dark,
  text-color: clr.$text-dark,
  p-color: clr.$p-dark,
) !default;

$theme-light: (
  primary: clr.$primary-light,
  authform-border: clr.$border-light,
  authform-bg: clr.$bgcolor-light,
  authform-link: clr.$btncolor-light,
  hr-border: clr.$hrcolor-light,
  text-color: clr.$text-light,
  p-color: clr.$p-light,
) !default;

$themes: (
  'dark': $theme-dark,
  'light': $theme-light,
) !default;
