@use 'sass:color';
@use 'sass:map';
@use 'themes/colors' as clr;

$theme-dark: (
  primary: clr.$primary-dark,
  border: clr.$darkgrey,
  paper-bg:  clr.$black-transparent,
  form_link-color: clr.$lightblue,
  main_link-color: clr.$black,
  avatar-bg: clr.$lightgrey,
  modal-bg: clr.$white,
  result-color: clr.$red,
  forum_item-bg: clr.$white,
  forum_popular-bg: clr.$bluesky,
  forum-popular-text: clr.$blue,
  forum_date-color: clr.$lightgrey,
  forum_topic-bg: clr.$cloudgrey,
  leaderboard_top-bg: clr.$lightblue,
  leaderboard_scores-text: clr.$blue,
  leaderboard_item_hover: clr.$bluesky,
  play-bg: clr.$cloudgrey,
  play_level-bg: clr.$bluesky-transparent,
  play_lebel-border: clr.$blue,
  canvas-border: clr.$lightgrey,
  hr_blue-color: clr.$blue,
  menu_item-border-color: clr.$cobaltblue,
  table-bg: clr.$white,
  box_shadow-color: clr.$grey-transparent,
  text-color: clr.$white,
  p-color: clr.$cobaltblue,
) !default;

$theme-light: (
  primary: clr.$primary-light,
  border: clr.$darkgrey,
  paper-bg:  clr.$white-transparent,
  form_link-color: clr.$blue,
  main_link-color: clr.$black,
  avatar-bg: clr.$lightgrey,
  modal-bg: clr.$white,
  result-color: clr.$red,
  forum_item-bg: clr.$white,
  forum_popular-bg: clr.$bluesky,
  forum-popular-text: clr.$blue,
  forum_topic-bg: clr.$cloudgrey,
  forum_date-color: clr.$lightgrey,
  leaderboard_top-bg: clr.$lightblue,
  leaderboard_scores-text: clr.$blue,
  leaderboard_item_hover: clr.$bluesky,
  play-bg: clr.$cloudgrey,
  play_level-bg: clr.$bluesky-transparent,
  play_lebel-border: clr.$blue,
  canvas-border: clr.$darkgrey,
  hr_blue-color: clr.$blue,
  menu_item-border-color: clr.$cobaltblue,
  table-bg: clr.$white,
  box_shadow-color: clr.$grey-transparent,
  text-color: clr.$black,
  p-color: clr.$cobaltblue,
) !default;

$themes: (
  'dark': $theme-dark,
  'light': $theme-light,
) !default;
