@use 'sass:color';
@use 'sass:map';
@use 'themes/colors' as clr;

$theme-dark: (
  bg-image: url(images/background_dark_theme.png),
  primary: clr.$primary-dark,
  primary-text-color: clr.$primary-blue,
  secondary-text-color: clr.$primary-light,
  mainstage-bg: clr.$primary-dark_transparent,
  hr-blue-color: clr.$primary_blue,
  close__btn-color: clr.$primary-white,
  border-blue-color: clr.$primary-blue,
  table-bg: clr.$primary-white,
  leaderboard_top-bg: clr.$primary-lightblue,
  leaderboard_scores-text: clr.$secondary_blue,
  leaderboard_country-text: clr.$primary-dark,
  leaderboard_item_hover: clr.$secondary-lightblue,
  forum_item-bg: clr.$primary-white,
  forum_popular-bg: clr.$secondary-lightblue,
  forum-popular-text: clr.$secondary_blue,
  forum_topic-bg: clr.$primary-lightgrey,
  forum_date-color: clr.$secondary-lightgrey,
  forum_backlink-color: clr.$secondary-yellow,
  primary_link-color: clr.$primary-dark,
  p-color: clr.$primary-blue,
  error-bg: clr.$primary-lightgrey,
  form-input-color: clr.$primary-white,
  form-label-color: clr.$primary-lightblue,
  profile-switch-color: clr.$primary_white,
  profile-logout-color: clr.$primary-lightblue,
  profile__form-input: clr.$primary_white,
  profile__form-label: clr.$primary-lightblue,
  form_link-color: clr.$primary-lightblue,
  end-game-title: clr.$secondary-yellow,
  end-game-button: clr.$primary-white,
  result-color: clr.$primary-red,
  play-bg: clr.$primary-green,
  play-track: clr.$primary-lightgrey,
  play-level: clr.$primary-lightblue,
  border-grey-color: clr.$primary-darkgrey,
  ) !default;

$theme-light: (
  bg-image: url(images/background_light_theme.png),
  primary: clr.$primary-light,
  primary-text-color: clr.$primary-blue,
  secondary-text-color: clr.$primary-dark,
  mainstage-bg: clr.$primary-light_transparent,
  hr-blue-color: clr.$primary_blue,
  close__btn-color: clr.$secondary-black,
  border-blue-color: clr.$primary-blue,
  table-bg: clr.$primary-white,
  leaderboard_top-bg: clr.$primary-lightblue,
  leaderboard_scores-text: clr.$secondary_blue,
  leaderboard_country-text: clr.$primary-dark,
  leaderboard_item_hover: clr.$secondary-lightblue,
  forum_item-bg: clr.$primary-white,
  forum_popular-bg: clr.$secondary-lightblue,
  forum-popular-text: clr.$secondary_blue,
  forum_topic-bg: clr.$primary-lightgrey,
  forum_date-color: clr.$secondary-lightgrey,
  forum_backlink-color: clr.$secondary_blue,
  primary_link-color: clr.$primary-dark,
  p-color: clr.$primary-blue,
  error-bg: clr.$primary-light,
  profile-switch-color: clr.$primary_dark,
  profile-logout-color: clr.$secondary_blue,
  profile__form-input: clr.$primary_dark,
  form_link-color: clr.$primary-blue,
  result-color: clr.$primary-red,
  play-bg: clr.$primary-green,
  play-track: clr.$primary-lightgrey,
  play-level: clr.$primary-lightblue,
  border-grey-color: clr.$primary-darkgrey,
  ) !default;

$themes: (
  'dark': $theme-dark,
  'light': $theme-light,
  ) !default;
